/* style.css */
.event-list {
    display: flex;
    flex-direction: column;
  }
  
  .event-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .date-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .venue {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .datetime {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .time {
    margin-bottom: 5px;
  }
  
  .music {
    margin-bottom: 5px;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }